* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 15vw 83vw;
    grid-template-rows: 10vh 10vh 100vh;
    background-color: #0f0f0f;
}

aside {
    grid-row: 1/4;
    /* border: 1px solid white; */
    color: white;
    display: grid;
    gap: 10px;
    align-content: start;
}

aside div {
    display: flex;
    align-items: center;
    padding: 0px 5px;
    margin-left: 10px;
    gap: 20px;
}

aside div i {
    font-size: 20px;
}

.logo_div {
    margin-top: -15px;
}

.hr {
    height: 1px;
    background-color: gray;
    margin: 0%;
}

.you {
    font-size: 20px;
    font-family: monospace;
}

.sub {
    font-size: 15px;
    font-family: arial;
}

.suk,
.sat {
    border-radius: 50%;
    font-family: arial;
    font-size: 15px;
}

#dot i {
    color: #52a1e4;
    font-size: 10px;
}

header {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    color: white;
}

.searchSection {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 100px;
}

.searchSection form {
    display: flex;
    height: 6vh;
}

.searchSection form input {
    width: 40vw;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid #222222;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
}

.searchSection form button {
    background-color: #222222;
    border: 1px solid #222222;
    width: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

header i {
    font-size: 18px;
}

header button {
    background: none;
    border: none;
    color: white;
}

.mic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #222222;
}

.profileSection {
    display: flex;
    gap: 20px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    overflow-x: auto;
}

nav a {
    background-color: #222222;
    padding: 10px;
    border-radius: 10px;
    color: white;
    /* text-wrap: nowrap; */
    text-decoration: none;
}

/* .........................How to hide/remove scrollbar for firefox and IE.............................. */
nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* .........................How to hide/remove scrollbar for Chrome, Safari & Opera..................... */
nav::-webkit-scrollbar {
    display: none;
}

.videoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.videoContainer figure {
    font-family: Arial, sans-serif;
}

.videoContainer figure img {
    border-radius: 10px;
}

.love {
    border-radius: 50%;
}

h2 {
    font-size: 17px;
    color: white;
}

p {
    color: gray;
    font-size: 10px;
    margin-left: 70px;
    line-height: 20px;
}

.animation{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3%;
}

.animation button {
    background-color: transparent;
    border: none;
    color: white;
}